{% extends 'notes/base.html' %}

{% block content%}

<br><br>

{% for note in notes %}
<div class="card container">
    <div class="card-header">
      <!-- Quote -->
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <img class= "rounded-circle article-img" src="{{note.author.profile.image.url}}" alt="">
        <h5><a class="article-title" href="{%url 'note-detail' note.id %}"> {{note.title}}</a></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ note.date_posted|date:"F d, Y" }}</h6>

        <p class="card-text">{{note.content}}</p>
        <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
         <hr>
         {%if note.author == user %}
        <a href="{%url 'note-update' note.id %}" class="card-link">Edit</a>
        <a href="{% url 'note-delete' note.id %}" class="card-link">Delete</a>
        {% endif %}
      </blockquote>
    </div>

  </div>
  <br>
  {% endfor %}

  {% if is_paginated  %}

        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {%for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}

            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}


    {% endif %}


{% endblock content%}